body {
  background: black;
  height: 100vh;
}


// .songsPage {
//   color: white;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;

// }

.trackList {
  background: black;
}


.input {
  background: white;
  color: black;
  border-radius: 25px;
}

.button {
  background: white;
  color: black;
  margin-left: 10px;
  border-radius: 25px;

}

.form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
  

}


.song {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: black;
}

.song-title {
  width: 175px;
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}

.song-play {
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.search {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 100px;
color: #1db954;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 110px;
  width: 400px;
}

.container {
  margin-top: 40px;
}

.albumCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  
}

.albumTitle {
  font-size: 30px;
}



